#container {
	text-align:center;
}

#left {
	float:left; 
	position:relative; 
	width:40%;
	height:100%;
}

#topleft{
	height:50%;
	border:5px solid green;
	border-radius:25px;
	background-color: #C9E4C9;
	margin: 5px;
}

#botleft{
	height:50%;
	border:5px solid green;
	border-radius:25px;
	background-color: #C9E4C9;
	margin: 5px;
}

#right {
	float:left; 
	position:relative; 
	width:40%;
	height:100%;
}

#topright{
	height:50%;
	border:5px solid green;
	border-radius:25px;
	background-color: #C9E4C9;
	margin: 5px;
}

#botright{
	height:50%;
	border:5px solid green;
	border-radius:25px;
	background-color: #C9E4C9;
	margin: 5px;
}

#center{
	border:5px solid green;
	border-radius:25px;
	float:left;
	width: 15%;
	height: 102%;
	background-color: #C9E4C9;
	margin-top: 5px;
}

.tabcontainer{
	margin:10px 0;
}

.tabcontainer .tab_nav{
	list-style:none;
	display:block;
	overflow:hidden;
	margin:0;
	margin-left:10px;
	padding:0px;
	position:relative;
	top:1px;
}

.tabcontainer .tab_nav ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.tabcontainer .tab_nav li{
	float:left;
	background-color:green;
	border:1px solid #e1e1e1;
	padding:5px!important;
	cursor:pointer;
	border-bottom:none;
	margin-right:10px;
	font-family:verdana;
	font-size:.8em;
	font-weight:bold;
	color:#fff;
}

.tabcontainer .tab_nav ul li a {
    display: block;
    margin: 2px;
    padding: 2px 5px;
    text-decoration: none;
}

.tabcontainer .tab_nav ul li.active{
	background-color:#fff;
	color:#000;
}
	
.tabcontainer .tab{
	padding:10px;
	background-color:#fff;
	overflow:hidden;
	float:left;
	margin-bottom:10px;
	margin-left:10px;
	border:1px solid #e1e1e1;
	width:93%;
}